<%inherit file="../base.html"/>

## Current tab for navigation
<%!
    tab = "profile"
%>

## SEO Stuff
<%block name="title">Ultros | ${user.username}</%block>
<%block name="description">API keys for ${user.username}</%block>

<%block name="og_title">${user.username}</%block>
<%block name="og_description">API keys for ${user.username}</%block>

<section class="section">
    <div class="container">

        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="box">
                    <h1 class="title has-text-centered">${user.username}</h1>
                    <h2 class="subtitle has-text-centered">API Keys</h2>
                    <hr />
                    % if keys:
                    <table class="table is-bordered is-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Key</th>
                            <th style="width: 1rem;"></th>
                        </tr>
                        </thead>
                        <tbody>
                            % for key, name in keys.items():
                            <tr>
                                <td>${name | h}</td>
                                <td><code>${key}</code></td>
                                <td>
                                    <form method="post" action="/profile/api_keys">
                                        <input type="hidden" name="_csrf" value="${csrf}" />
                                        <input type="hidden" name="action" value="delete" />
                                        <input type="hidden" name="key" value="${key}" />

                                        <div class="field">
                                            <p class="control">
                                                <button type="submit" class="button is-danger" title="Delete Key">
                                                    <span class="icon">
                                                        <i class="fa fa-trash"></i>
                                                    </span>
                                                </button>
                                            </p>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            % endfor
                        </tbody>
                    </table>
                    % else:
                    <h2 class="subtitle is-4 has-text-centered">No API keys found</h2>
                    % endif

                    % if len(keys) < 10:
                    <hr />
                    <form method="post" action="/profile/api_keys">
                        <input type="hidden" name="_csrf" value="${csrf}" />
                        <input type="hidden" name="action" value="create" />

                        <div class="field has-addons">
                            <p class="control is-expanded has-icon">
                                <input class="input" type="text" name="name" placeholder="Name of key">
                                <span class="icon is-left">
                                    <i class="fa fa-pencil"></i>
                                </span>
                            </p>
                            <p class="control">
                                <input type="submit" class="button is-fullwidth is-primary" value="Create key">
                            </p>
                        </div>
                    </form>
                    % endif
                </div>
            </div>
        </div>
    </div>
</section>