<%inherit file="../base.html"/>

## Current tab for navigation
<%!
    tab = "settings"
%>

## SEO Stuff
<%block name="title">Ultros | Settings/${user.username}</%block>
<%block name="description">Your account settings</%block>

<%block name="og_title">Settings/${user.username}</%block>
<%block name="og_description">Your account settings</%block>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="box card column is-half is-offset-one-quarter">
                <div class="card-content">
                    % if user.admin:
                    <h1 class="title has-text-centered">
                        ${user.username}

                        <span class="icon is-medium has-text-info" title="Admin">
                            <i class="fa fa-gears"></i>
                        </span>
                    </h1>
                    % else:
                    <h1 class="title has-text-centered">${user.username}</h1>
                    % endif
                    <h2 class="subtitle has-text-centered">Created: ${format_date(user.created)}</h2>

                    % if len(user.news_posts):
                    <h2 class="subtitle has-text-centered">News posts: ${len(user.news_posts)}</h2>
                    % endif

                    <hr />

                    <form action="/settings" method="post" id="settings-form">
                        <input type="hidden" name="_csrf" value="${csrf}" />

                        <div class="field">
                            <p class="control has-icon">
                                <input class="input" type="password" placeholder="Current Password" name="password" required />
                                <span class="icon is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </p>
                        </div>

                        <hr />

                        <div class="field">
                            <p class="control has-icon">
                                <input class="input" type="password" placeholder="New Password" name="new_password" />
                                <span class="icon is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </p>
                        </div>

                        <div class="field">
                            <p class="control has-icon">
                                <input class="input" type="password" placeholder="New Password (Again)" name="new_password_again" />
                                <span class="icon is-left">
                                    <i class="fa fa-repeat"></i>
                                </span>
                            </p>
                        </div>

                        <hr />

                        <div class="field">
                            <p class="control has-icon">
                                <input class="input" type="text" placeholder="${user.email}" name="email" />
                                <span class="icon is-left">
                                    <i class="fa fa-at"></i>
                                </span>
                            </p>
                        </div>

                        <hr />

                        <div class="field">
                            % if not user.mfa_token:
                            <a class="button is-success" disabled> <!-- href="/mfa/step_one" -->
                                <span class="icon">
                                    <i class="fa fa-lock"></i>
                                </span>
                                <span>Enable MFA</span>
                            </a>
                            % else:
                            <a class="button is-danger" href="/mfa/disable">
                                <span class="icon">
                                    <i class="fa fa-unlock-alt"></i>
                                </span>
                                <span>Disable MFA</span>
                            </a>
                            &nbsp;
                            <a class="button is-warning" href="/mfa/backup_codes">
                                <span class="icon">
                                    <i class="fa fa-pencil"></i>
                                </span>
                                <span>New Backup Codes</span>
                            </a>
                            % endif
                        </div>

                        <hr />

                        <div class="field is-hidden-mobile">
                            <p class="control">
                                <input type="submit" value="Save" class="button is-primary is-centered submit-button" style="width: 50%; margin: auto; display: block">
                            </p>
                        </div>
                        <div class="field is-hidden-tablet is-hidden-desktop">
                            <p class="control">
                                <input class="button is-primary is-fullwidth submit-button" value="Save" type="submit">
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>