<%page args="title='Ultros'"/>

<%!
    tab = "error"
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title><%block name="title" /></title>

    <meta name="description" content="<%block name="description" />"/>
    <meta name="revisit-after" content="1 day"/>
    <meta name="robots" content="index,follow"/>

    <meta name="google-site-verification"
          content="eDl1dh8UxU5FuKyiMJ1YJ0HR2mf6Xdx9xtRzMcIaBk0"/>

    <!-- Open Graph stuff -->
    <meta property="og:title" content="<%block name="og_title" />" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%block name="og_description" />" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Ultros" />
    <meta property="og:image" content="https://ultros.io/static/images/logos/rakiru.png" />

    <link rel="shortcut icon" href="/static/images/ultros.png"/>
    <link rel="apple-touch-icon-precomposed" href="/static/images/ultros.png"/>

    <link rel="alternate" type="application/atom+xml" title="News (Atom)" href="/feeds/atom/news" />
    <link rel="alternate" type="application/rss+xml" title="News (RSS)" href="/feeds/rss/news"/>

    <link rel="stylesheet" href="/static/css/bulma.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/pygments-colourful.css">

    <script src="/static/js/handlebars-v4.0.5.js"></script>

    <%block name="header"/>

</head>
<body>
<section class="hero is-primary">
    <div class="hero-head">
        <div class="container">
            <nav class="nav">
                <div class="nav-left" style="min-width: 150px;">
                    <span class="nav-item">
                        Ultros - Insert Logo Here
                    </span>
                </div>

                <div class="nav-right">
##                     % if bots > 0:
##                         <span class="nav-item">
##                         % if self.attr.tab == "metrics":
##                             <a class="button is-light" href="/metrics">
##                                 <span class="icon">
##                                     <i class="fa fa-pie-chart"></i>
##                                 </span>
##                                 <span>Bots online: ${bots}</span>
##                             </a>
##                         % else:
##                             <a class="button is-light is-outlined" href="/metrics">
##                                 <span class="icon">
##                                     <i class="fa fa-pie-chart"></i>
##                                 </span>
##                                 <span>Bots online: ${bots}</span>
##                             </a>
##                         % endif
##                         </span>
##                     % else:
##                         <span class="nav-item">
##                         % if self.attr.tab == "metrics":
##                         <a class="button is-light" href="/metrics">
##                             <span class="icon">
##                                 <i class="fa fa-pie-chart"></i>
##                             </span>
##                             <span>Metrics</span>
##                         </a>
##                         % else:
##                         <a class="button is-light is-outlined" href="/metrics">
##                             <span class="icon">
##                                 <i class="fa fa-pie-chart"></i>
##                             </span>
##                             <span>Metrics</span>
##                         </a>
##                         % endif
##                     </span>
##                     %endif
                    <span class="nav-item">
                        % if _context["user"] is None:
                            % if self.attr.tab == "login":
                        <a class="button is-light" href="/login">
                            <span class="icon">
                                <i class="fa fa-user"></i>
                            </span>
                            <span>Login / Register</span>
                        </a>
                            % else:
                        <a class="button is-light is-outlined" href="/login">
                            <span class="icon">
                                <i class="fa fa-user"></i>
                            </span>
                            <span>Login / Register</span>
                        </a>
                            % endif
                        % else:
                            % if self.attr.tab == "profile":
                        <a class="button is-light" href="/profile">
                            <span class="icon">
                                <i class="fa fa-user"></i>
                            </span>
                            <span>${_context["user"].username}</span>
                        </a>
                            % else:
                        <a class="button is-light is-outlined" href="/profile">
                            <span class="icon">
                                <i class="fa fa-user"></i>
                            </span>
                            <span>${_context["user"].username}</span>
                        </a>
                            % endif
                        % endif
                    </span>
                </div>
            </nav>
        </div>
        <%block name="hero_head_end"/>
    </div>
##     % if self.attr.tab == "home":
##     <div class="hero-body">
##         <div class="container is-centered">
##             <img class="image" src="/static/images/logos/rakiru-400-200.png"
##                  style="margin: auto;"/>
##             <h1 class="title is-centered" style="text-align: center">Connecting
##                 communities, one squid at a time.</h1>
##         </div>
##     </div>
##     % endif
    <div class="hero-foot">
        <div class="container">
            <nav class="tabs is-boxed">
                <ul>
                    ## Index tab

                    % if self.attr.tab == "home":
                    <li class="is-active">
                    % else:
                    <li>
                    % endif
                        <a href="/">Home</a>
                    </li>

                    ## Metrics tab
                    % if self.attr.tab == "news":
                    <li class="is-active">
                    % else:
                    <li>
                    % endif
                        <a href="/news">News</a>
                    </li>

                    ## Extensions tab
##                     % if self.attr.tab == "extensions":
##                     <li class="is-active">
##                     % else:
##                     <li>
##                     % endif
##                         <a href="/extensions">Extensions</a>
##                     </li>
                </ul>

                <ul class="is-right">
                    % if self.attr.tab == "about":
                    <li class="is-active">
                    % else:
                    <li>
                    % endif
                        <a href="/about">About</a>
                    </li>
                    % if self.attr.tab == "tos":
                    <li class="is-active">
                    % else:
                    <li>
                    % endif
                        <a href="/tos">Terms of Service</a>
                    </li>
                    % if _context["user"] is not None:
                        % if _context["user"].admin:
                            % if self.attr.tab.startswith("admin"):
                                <li class="is-active">
                            % else:
                                <li>
                            % endif
                                    <a href="/admin" title="Admin Area">
                                        <span class="icon">
                                            <i class="fa fa-wrench"></i>
                                        </span>
                                    </a>
                                </li>
                        % endif
                    % endif
                </ul>
            </nav>
        </div>
        <%block name="hero_foot_end"/>
    </div>
</section>

% if message:
<section class="section" style="padding-bottom: 0;">
    <div class="container">
        <article class="message is-${message.css_class}" style="margin-left: 20%; margin-right: 20%;">
            <div class="message-header">
                <p>${message.header}</p>
            </div>
            <div class="message-body">
                <p>${message.body}</p>
            </div>
        </article>
    </div>
</section>
% endif

${next.body()}

## Footer

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                &copy; 2014-2017 Gareth Coles and Sean Gordon <br/>
                <a href="/tos">Terms of service</a>
            </p>
        </div>
    </div>
</footer>
</body>
</html>
