<%inherit file="base.html"/>

## Current tab for navigation
<%!
    tab = "login"
%>

## SEO Stuff
<%block name="title">Ultros | Login</%block>
<%block name="description">Login or register an account</%block>

<%block name="og_title">Login</%block>
<%block name="og_description">Login or register an account</%block>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="box card column is-half is-offset-one-quarter">
                <form action="/login" method="post">
                    <input type="hidden" name="_csrf" value="${csrf}" />
                    <div class="card-content">
                        <div class="field">
                            <p class="control has-icon">
                                <input class="input" type="text" placeholder="Username" name="username" required>
                                <span class="icon is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icon">
                                <input class="input" type="password" placeholder="Password" name="password" required>
                                <span class="icon is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </p>
                        </div>

                        <div class="field is-hidden-mobile">
                            <p class="control">
                                <input type="submit" value="Login" class="button is-primary is-centered" style="width: 50%; margin: auto; display: block">
                            </p>

                            <hr />

                            <a href="/login/register" class="button" style="width: 50%">
                                <span>
                                    Register
                                </span>
                            </a>

                            <a href="/login/forgot" class="button pull-right" style="width: 45%">
                                <span>
                                    Forgot Password
                                </span>
                            </a>
                        </div>
                        <div class="field is-hidden-tablet is-hidden-desktop">
                            <p class="control">
                                <input class="button is-primary is-fullwidth" value="Login" type="submit">
                            </p>

                            <hr />

                            <a href="/login/register" class="button is-fullwidth">
                                <span>
                                    Register
                                </span>
                            </a> <br/>

                            <a href="/login/forgot" class="button is-fullwidth">
                                <span>
                                    Forgot Password
                                </span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
