<%inherit file="base.html"/>

## Current tab for navigation
<%!
    tab = ""
%>

## SEO Stuff
<%block name="title">Ultros | Redirecting...</%block>
<%block name="description">Connecting communities, one squid at a time.</%block>

<%block name="og_title">Redirecting...</%block>
<%block name="og_description">Connecting communities, one squid at a time</%block>

<section class="section" style="padding-bottom: 0;">
    <div class="container">
        <article class="message is-${gate_message.css_class}" style="margin-left: 20%; margin-right: 20%;">
            <div class="message-header">
                <p>${gate_message.header}</p>
            </div>
            <div class="message-body">
                <p>${gate_message.body}</p>

                <br />

                <a href="${redirect_uri}">Click here to skip</a>
            </div>
        </article>
    </div>
</section>
<br />
<br />