<%inherit file="base.html"/>

## Current tab for navigation
<%!
    tab = "login"
%>

## SEO Stuff
<%block name="title">Ultros | Register</%block>
<%block name="description">Register an account</%block>

<%block name="og_title">Register</%block>
<%block name="og_description">Register an account</%block>

<%block name="header">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript">
        function onSubmitRecaptcha(token) {
            let buttons = document.getElementsByClassName("submit-button");
            for (let i = 0; i < buttons.length; i += 1) {
                buttons[i].disabled = false;
            }
        }
    </script>
</%block>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="box card column is-half is-offset-one-quarter">
                    <div class="card-content">
                        <p>
                            Registration is currently closed due to ongoing work towards GDPR compliance.
                            Come chat to us on IRC or Discord if you have any questions!
                        </p>
                    </div>
            </div>
        </div>
    </div>
</section>
