<%page args="title='Ultros'"/>
<%inherit file="../base.html"/>

<%!
    tab = "admin"
%>


<section class="hero is-black">
    <div class="hero-foot">
        <div class="container">
            <nav class="tabs is-boxed">
                <ul>
                    % if self.attr.tab == "admin_index":
                    <li class="is-active">
                    % else:
                    <li>
                    % endif
                        <a href="/admin">Home</a>
                    </li>

                    % if self.attr.tab == "admin_news":
                    <li class="is-active">
                    % else:
                    <li>
                    % endif
                        <a href="/admin/news">News</a>
                    </li>

                    % if self.attr.tab == "admin_users":
                    <li class="is-active">
                    % else:
                    <li>
                    % endif
                        <a href="/admin/users">Users</a>
                    </li>

                    % if self.attr.tab == "admin_celery":
                    <li class="is-active">
                    % else:
                    <li>
                    % endif
                        <a href="/admin/celery">Celery</a>
                    </li>
                </ul>

                <ul class="is-right">
                    % if self.attr.tab == "admin_settings":
                    <li class="is-active">
                    % else:
                    <li>
                    % endif
                        <a href="/admin/settings"><span class="icon"><i class="fa fa-wrench"></i></span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

${next.body()}