<%inherit file="base.html"/>

## Current tab for navigation
<%!
    tab = "admin_celery"
%>

## SEO Stuff
<%block name="title">Ultros | Admin</%block>
<%block name="description">Administration area</%block>

<%block name="og_title">Ultros | Admin</%block>
<%block name="og_description">Administration area</%block>

<%block name="header">
<style>
    .inner-table {
        padding: 0 !important;
        margin: 0 !important;
    }

    .inner-table table {
        padding: 0 !important;
        margin: 0 !important;
    }

    .celery-stats-table tbody:first-child tr th {
        border-top: none !important;
    }
    .celery-stats-table tbody:first-child tr td {
        border-top: none !important;
    }

    .celery-stats-table tbody tr:last-child * {
        border-bottom: none !important;
    }

    .celery-stats-table td {
        border-right: none !important;
    }

    .celery-stats-table th {
        border-right: none !important;
    }

    .celery-stats-table .is-primary {
        border-left-color: #9f83b9;
    }

    .celery-stats-table thead {
        border-bottom: 1px solid #dbdbdb;
        border-top: none !important;
    }

    .celery-stats-table th.is-grey {
        border-right: 1px solid #ececec !important;
    }

    .celery-stats-table th:last-child.is-grey {
        border-right: none !important;
    }

    #overall-celery-stats-table .mono.is-primary {
        border-right: none !important
    }

    #overall-celery-stats-table .inner-table {
        border-left: none;
    }
</style>
</%block>

<section class="section">
    <div class="container">
        <h1 class="title">Celery worker stats</h1>

        <table class="table is-bordered" id="overall-celery-stats-table">
            <tbody>
            % for worker, stats_dict in stats.items():
<%
    pid = stats_dict["pid"]
    broker = stats_dict["broker"]
    pool = stats_dict["pool"]
    totals = stats_dict["total"]

    registered_tasks = registered.get(worker)
    active_tasks = active.get(worker)
    scheduled_tasks = scheduled.get(worker)
    reserved_tasks = reserved.get(worker)
%>
            <tr>
                <th class="mono is-primary">${worker}</th>
                <td class="inner-table">
                    <table class="table celery-stats-table">
                        <tbody>
                        <tr>
                            <th colspan="2" class="is-primary">
                                Misc
                            </th>
                        </tr>
                        <tr>
                            <th>PID</th>
                            <td class="mono">${pid}</td>
                        </tr>
                        <tr>
                            <th>Registered Tasks</th>
                            % if registered_tasks:
                            <td class="mono">${", ".join(registered_tasks)}</td>
                            % else:
                            <td></td>
                            % endif
                        </tr>

                        <tr>
                            <th colspan="2" class="is-primary">
                                Active Tasks
                            </th>
                        </tr>

                        % if not active_tasks:
                        <tr class="inner-table">
                            <td colspan="2">
                                No active tasks
                            </td>
                        </tr>
                        % else:
                        <tr>
                            <td colspan="2" class="inner-table">
                                <table class="table celery-stats-table">
                                    <thead>
                                    <tr>
                                        <th class="is-grey">Name</th>
                                        <th class="is-grey">ID</th>
                                        <th class="mono is-grey">args</th>
                                        <th class="mono is-grey">kwargs</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    % for task in active_tasks:
                                    <tr>
                                        <td class="mono">${task["name"]}</td>
                                        <td class="mono">${task["id"]}</td>
                                        <td class="mono">${task["args"]}</td>
                                        <td class="mono">${task["kwargs"]}</td>
                                    </tr>
                                    % endfor

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        % endif

                        <tr>
                            <th colspan="2" class="is-primary">
                                Scheduled Tasks
                            </th>
                        </tr>

                        % if not scheduled_tasks:
                        <tr class="inner-table">
                            <td colspan="2">
                                No scheduled tasks
                            </td>
                        </tr>
                        % else:
                        <tr>
                            <td colspan="2" class="inner-table">
                                <table class="table celery-stats-table">
                                    <thead>
                                    <tr>
                                        <th class="is-grey">Name</th>
                                        <th class="is-grey">ID</th>
                                        <th class="is-grey">ETA</th>
                                        <th class="is-grey">Priority</th>
                                        <th class="mono is-grey">args</th>
                                        <th class="mono is-grey">kwargs</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    % for task_container in scheduled_tasks:
                                    <% task = task_container["request"] %>
                                    <tr>
                                        <td class="mono">${task["name"]}</td>
                                        <td class="mono">${task["id"]}</td>
                                        <td class="mono">${task_container["eta"]}</td>
                                        <td class="mono">${task_container["priority"]}</td>
                                        <td class="mono">${task["args"]}</td>
                                        <td class="mono">${task["kwargs"]}</td>
                                    </tr>
                                    % endfor

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        % endif

                        <tr>
                            <th colspan="2" class="is-primary">
                                Reserved Tasks
                            </th>
                        </tr>

                        % if not reserved_tasks:
                        <tr class="inner-table">
                            <td colspan="2">
                                No reserved tasks
                            </td>
                        </tr>
                        % else:
                        <tr>
                            <td colspan="2" class="inner-table">
                                <table class="table celery-stats-table">
                                    <thead>
                                    <tr>
                                        <th class="is-grey">Name</th>
                                        <th class="is-grey">ID</th>
                                        <th class="mono is-grey">args</th>
                                        <th class="mono is-grey">kwargs</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    % for task in reserved_tasks:
                                    <tr>
                                        <td class="mono">${task["name"]}</td>
                                        <td class="mono">${task["id"]}</td>
                                        <td class="mono">${task["args"]}</td>
                                        <td class="mono">${task["kwargs"]}</td>
                                    </tr>
                                    % endfor

                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        % endif

                        <tr>
                            <th colspan="2" class="is-primary">
                                Broker
                            </th>
                        </tr>

                        <tr>
                            <th>Hostname</th>
                            <td class="mono">${broker["hostname"]}</td>
                        </tr>
                        <tr>
                            <th>Login Method</th>
                            <td class="mono">${broker["login_method"]}</td>
                        </tr>
                        <tr>
                            <th>Port</th>
                            <td class="mono">${broker["port"]}</td>
                        </tr>
                        <tr>
                            <th>Transport</th>
                            <td class="mono">${broker["transport"]}</td>
                        </tr>
                        <tr>
                            <th>Timeout</th>
                            <td class="mono">${broker["connect_timeout"]}</td>
                        </tr>

                        <tr>
                            <th colspan="2" class="is-primary">
                                Pool
                            </th>
                        </tr>

                        <tr>
                            <th>Max Concurrency</th>
                            <td class="mono">${pool["max-concurrency"]}</td>
                        </tr>
                        <tr>
                            <th>Process PIDs</th>
                            <td class="mono">${", ".join(str(x) for x in pool["processes"])}</td>
                        </tr>

                        <tr>
                            <th colspan="2" class="is-primary">
                                Total Tasks Run
                            </th>
                        </tr>

                        % for task, runs in totals.items():
                            <tr>
                                <th class="mono">${task}</th>
                                <td>${runs}</td>
                            </tr>
                        % endfor

                        </tbody>
                    </table>
                </td>
            </tr>
            % endfor
            </tbody>
        </table>
    </div>
</section>