<%inherit file="base.html"/>

## Current tab for navigation
<%!
    tab = "admin_index"
%>

## SEO Stuff
<%block name="title">Ultros | Admin</%block>
<%block name="description">Administration area</%block>

<%block name="og_title">Ultros | Admin</%block>
<%block name="og_description">Administration area</%block>

<section class="section">
    <div class="container">
        <h1 class="title">Admin index</h1>
        <p>Please note that the Celery section will take a moment to load - don't spam it!</p>
    </div>
</section>