<%inherit file="base.html"/>

## Current tab for navigation
<%!
    tab = "admin_index"
%>

## SEO Stuff
<%block name="title">Ultros | Admin</%block>
<%block name="description">Administration area</%block>

<%block name="og_title">Ultros | Admin</%block>
<%block name="og_description">Administration area</%block>

## <section class="hero is-dark">
##     <div class="hero-body">
##         <div class="container">
##             Yadda yadda yadda content content content
##         </div>
##     </div>
## </section>