<%inherit file="base.html"/>

## Current tab for navigation
<%!
    tab = "admin_news"
%>

## SEO Stuff
<%block name="title">Ultros | Admin/News</%block>
<%block name="description">Administration area - News</%block>

<%block name="og_title">Admin/News</%block>
<%block name="og_description">Administration area - News</%block>

<%block name="header">
    <script src="/static/ace/ace.js" type="text/javascript"></script>
</%block>

<section class="section">
    <div class="container">
        <a class="button is-success is-pulled-right" id="publish-button">
            <span class="icon">
                <i class="fa fa-pencil"></i>
            </span>
            <span>&nbsp; Publish</span>
        </a>

        <a class="button is-warning is-pulled-right" id="preview-button">
            <span class="icon">
                <i class="fa fa-eye"></i>
            </span>
            <span>&nbsp; Preview</span>
        </a>

        <h1 class="title">News post editor</h1>

        <div class="notification is-warning">
            Please don't use newlines instead of editor wrapping -
            it'll break the formatting on external sites
        </div>

        <form action="/admin/news/create" method="post" id="form">
            <input type="hidden" name="_csrf" value="${csrf}" id="csrf"/>
            <input type="hidden" name="content" value="" id="content-input" />
            % if not post:
            <input type="hidden" name="post_id" value="" />
            % else:
            <input type="hidden" name="post_id" value="${post.id}" />
            % endif
            <div class="field">
                <p class="control has-icon">
                    % if not post:
                    <input class="input" type="text" placeholder="Post Title" name="title" id="title"
                           value="Post Title">
                    % else:
                    <input class="input" type="text" placeholder="Post Title" name="title" id="title"
                           value="${post.title}">
                    % endif
                    <span class="icon is-left">
                        <i class="fa fa-pencil"></i>
                    </span>
                </p>
                <br/>
            </div>
            <div class="columns" id="editor-columns">
                <div class="column is-half-desktop is-half-tablet is-full-mobile" id="editor"></div>
                % if not post:
                <pre style="display: none !important;" id="editor_content">Markdown post editor
====================

If you have JavaScript disabled, **please enable it**.

Once you've typed some Markdown, hit the preview
button at the top to preview it before saving.

Try some code:

```python
if True:
    print("Hi")
```

Or a table:

| Header 1 | *Header* 2                        |
| -------- | --------------------------------- |
| `Cell 1` | [Cell 2](http://example.com) link |
| Cell 3   | **Cell 4**                        |
</pre>
                % else:
                <pre style="display: none !important;" id="editor_content">${post.markdown}</pre>
                % endif

                <div class="column is-half-desktop is-half-tablet is-full-mobile">
                    <article class="message is-primary">
                        <div class="message-header">
                            % if not post:
                            <p id="preview-title">Post Title</p>
                            <p class="pull-right"><span id="preview-date">${format_date()}</span> | ${_context["user"].username}</p>
                            % else:
                            <p id="preview-title">${post.title}</p>
                            <p class="pull-right"><span id="preview-date">${format_date(post.posted)}</span> | ${post.user.username}</p>
                            % endif
                        </div>
                        <div class="message-body news-post-body" id="preview-content">
                            % if not post:
                            <h1 class="title" id="markdown-post-editor">
                            Markdown post editor</h1>
                            <p>If you have JavaScript disabled, <strong>please enable it</strong>.</p>
                            <p>Once you've typed some Markdown, hit the preview
                                button at the top to preview it before saving.</p>
                            <p>Try some code:</p>
                            <div class="codehilite"><pre><span></span><code><span class="k">if</span> <span class="bp">True</span><span
                                    class="p">:</span>
    <span class="k">print</span><span class="p">(</span><span class="s2">"Hi"</span><span class="p">)</span>
</code></pre>
                            </div>
                            <p>Or a table:</p>
                            <table class="table is-bordered is-striped">
                                <thead>
                                <tr>
                                    <th>Header 1</th>
                                    <th><em>Header</em> 2</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><code>Cell 1</code></td>
                                    <td><a href="http://example.com" target="_blank">Cell 2</a> link</td>
                                </tr>
                                <tr>
                                    <td>Cell 3</td>
                                    <td><strong>Cell 4</strong></td>
                                </tr>
                                </tbody>
                            </table>
                            % else:
                            ${post.html}
                            % endif
                        </div>
                    </article>
                </div>
            </div>
        </form>
    </div>
</section>

<script type="text/javascript">
    let editor = ace.edit("editor");
    editor.setTheme("ace/theme/chrome");
    editor.setOption("wrap", true);
    editor.getSession().setMode("ace/mode/markdown");

    let content_element = document.getElementById("editor_content");
    let text = content_element.innerText || content_element.textContent;
    editor.setValue(text, -1)
</script>

<script type="text/javascript">
    document.getElementById("preview-button").onclick = function () {
        let content = editor.getValue();
        let http = new XMLHttpRequest();
        let url = "/admin/news/render";
        let params = "markdown=" + encodeURIComponent(content);

        http.open("POST", url, true);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        http.onreadystatechange = function () {
            if (http.readyState === 4) {
                if (http.status === 200) {
                    document.getElementById("preview-content").innerHTML = http.responseText;
                    document.getElementById("preview-title").textContent = document.getElementById("title").value;
                } else {
                    document.getElementById("preview-content").innerHTML = "<h1 class=\"title\">Error getting rendered markdown</h1>"
                }
            }
        };

        http.send(params);
    };

    document.getElementById("publish-button").onclick = function () {
        let form = document.getElementById("form");

        document.getElementById("content-input").value = editor.getValue();
        form.submit()
    }
</script>