<%inherit file="base.html"/>

## Current tab for navigation
<%!
    tab = "admin_news"
%>

## SEO Stuff
<%block name="title">Ultros | Admin/News</%block>
<%block name="description">Administration area - News</%block>

<%block name="og_title">Admin/News</%block>
<%block name="og_description">Administration area - News</%block>

<section class="section">
    <div class="container">
        <a class="button is-success is-pulled-right" href="/admin/news/create">
            <span class="icon">
                <i class="fa fa-plus"></i>
            </span>
            <span>&nbsp; Create post</span>
        </a>
        % if len(posts):
        <h1 class="title">News posts</h1>
        <table class="table is-bordered is-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Created</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            % for post in posts:
            <tr>
                <td><strong>${post.id}</strong></td>
                <td>${post.title}</td>
                <td>${post.posted.strftime("%x at %X")}</td>
                <td>${post.user.username}</td>
                <td>
                    <a class="button is-danger is-small" href="/admin/news/delete?post=${post.id}&_csrf=${csrf}">
                        <span class="icon">
                            <i class="fa fa-trash"></i>
                        </span>
                        <span>&nbsp;Delete</span>
                    </a>

                        &nbsp;

                    <a class="button is-warning is-small" href="/admin/news/edit?post=${post.id}">
                        <span class="icon">
                            <i class="fa fa-pencil"></i>
                        </span>
                        <span>&nbsp;Edit</span>
                    </a>

                        &nbsp;

                    <a class="button is-info is-small" href="/admin/news/notify?post=${post.id}&_csrf=${csrf}">
                        <span class="icon">
                            <i class="fa fa-refresh"></i>
                        </span>
                        <span>&nbsp;Resend Notifications</span>
                    </a>
                </td>
            </tr>
            % endfor
            </tbody>
            <tfoot>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Created</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
            </tfoot>
        </table>

        % else:
        <h1 class="title">No news posts found.</h1>
        % endif


        <nav class="pagination is-centered">
            % if page > 1:
            <a class="pagination-previous" href="/admin/news?page=${(page - 1)}">Previous page</a>
            % else:
            <a class="pagination-previous" disabled>Previous page</a>
            % endif

            % if page < pages:
            <a class="pagination-next" href="/admin/news?page=${(page + 1)}">Next page</a>
            % else:
            <a class="pagination-next" disabled>Next page</a>
            % endif

            <ul class="pagination-list">
                % if page > 1:
                <li>
                    <a class="pagination-link" href="/admin/news?page=1">1</a>
                </li>
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>
                % endif

                % if page - 1 > 1:
                <li>
                    <a class="pagination-link" href="/admin/news?page=${(page - 1)}">${(page - 1)}</a>
                </li>
                % endif
                <li>
                    <a class="pagination-link is-current">${page}</a>
                </li>
                % if page + 1 < pages:
                <li>
                    <a class="pagination-link" href="/admin/news?page=${(page +1)}">${(page +1)}</a>
                </li>
                % endif

                % if page < pages:
                <li>
                    <span class="pagination-ellipsis">&hellip;</span>
                </li>

                <li>
                    <a class="pagination-link" href="/admin/news?page=${pages}">${pages}</a>
                </li>
                % endif
              </ul>
        </nav>
    </div>
</section>