# A standard SQLAlchemy connection URL. Please note, we only support Postgres.
# postgresql://username:password@host:port/Database
database_url: "postgresql://ultros:hunter2@localhost/ultros"

# A user account created with this username will be given admin access automatically, so remember to change this
# option
admin_username: admin

# ReCaptcha Secret from https://google.com/recaptcha
recaptcha_secret: ""

debug: false

email:
    # If set to False, user accounts will not require email verification
    # You probably want to be using this in production

    # Disabled due to GDPR
    use: False

    # SMTP details for sending email
    # host: localhost
    # port: 25

    # user: "a@b.c"
    # password: "hunter2"

    # from: "Ultros <a@b.c>"

    # May be False, True, or "starttls"
    # ssl: False