#logo {
  margin-bottom: -50px;
}

.code-nav {
    margin: -15px 100px 0 0;
    font-size: 20px;
    float: right;
}

.announcement {
    border: 1px #800080 dashed;
    border-radius: 20px;
    padding-top: 2em;
    padding-bottom: 0.5em;
}

code {
    border: 1px #400040 dashed;
    background-color: #FFDDFF;
    color: grey;
}

.avatar {
    box-shadow: 10px 10px 5px #DDDDDD;
    border-radius: 20px;
}

.green-text {
    color: black;
    background-color: #DDFFDD;
    border-radius: 15px;
    padding: 2px 10px;
    margin-left: 1em;
    margin-right: 1em;
}

.red-text {
    color: black;
    background-color: #FFDDDD;
    border-radius: 15px;
    padding: 2px 10px;
    margin-left: 1em;
    margin-right: 1em;
}

.blue-text {
    color: black;
    background-color: #DDDDFF;
    border-radius: 15px;
    padding: 2px 10px;
    margin-left: 1em;
    margin-right: 1em;
}