<%inherit file="../base.html"/>

## SEO Stuff
<%block name="title">Ultros | Not Found</%block>
<%block name="description">Ultros is a highly modular, chat-focused, Python-based bot. Its purpose is to provide various services and tools to people using chat networks, in a highly extensible and protocol-agnostic way.

Connecting communities, one squid at a time.</%block>
<%block name="keywords">python bot irc ircbot mumble mumblebot ultros squid octopus squidoctopus plugin plugins modular protocol extensible</%block>

<section class="section">
    <div class="container">
        <article class="message is-primary">
            <div class="message-header">
                <p>Error 404 (Not Found)</p>
            </div>
            <div class="message-body">
                <p>Unfortunately, you appear to have stumbled into Ultros' private stash of pages. Things seem rather.. slimy.</p>
                <p>Perhaps you'd like to try again <a href="/">from the homepage</a>?</p>
            </div>
        </article>
    </div>
</section>
