<%inherit file="../base.html"/>

## SEO Stuff
<%block name="title">Ultros | Not Found</%block>
<%block name="description">Error 404: Not Found</%block>

<%block name="og_title">Ultros | Not Found</%block>
<%block name="og_description">Error 404: Not Found</%block>

<section class="section">
    <div class="container">
        <article class="message is-primary">
            <div class="message-header">
                <p>Error 404 (Not Found)</p>
            </div>
            <div class="message-body">
                <p>Unfortunately, you appear to have stumbled into Ultros' private stash of pages. Things seem rather.. slimy.</p>
                <p>Perhaps you'd like to try again <a href="/">from the homepage</a>?</p>
            </div>
        </article>
    </div>
</section>
