<%inherit file="../base.html"/>

## SEO Stuff
<%block name="title">Ultros | ${resp.status}</%block>
<%block name="description">Ultros is a highly modular, chat-focused, Python-based bot. Its purpose is to provide various services and tools to people using chat networks, in a highly extensible and protocol-agnostic way.

Connecting communities, one squid at a time.</%block>
<%block name="keywords">python bot irc ircbot mumble mumblebot ultros squid octopus squidoctopus plugin plugins modular protocol extensible</%block>

<section class="section">
    <div class="container">
        <article class="message is-primary">
            <div class="message-header">
                <p>Error ${code} (${error_description})</p>
            </div>
            <div class="message-body">
                <p>Whoops, something blew up. We just don't know what went wrong!</p>
                <p>While we get the town hall patched up, perhaps you'd like to try again <a href="/">from the homepage</a>?</p>
            </div>
        </article>
    </div>
</section>
