<%inherit file="../base.html"/>

## SEO Stuff
<%block name="title">Ultros | MFA</%block>
<%block name="description">Multi-factor authentication</%block>

<%block name="og_title">MFA</%block>
<%block name="og_description">Multi-factor authentication</%block>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="box card column is-half is-offset-one-quarter">
                <div class="card-content">
                    <h1 class="title has-text-centered">Confirmation</h1>
                    <h2 class="subtitle has-text-centered">Are you sure you'd like to regenerate your backup codes?</h2>
                    <p class="has-text-centered">This will invalidate your old backup codes.</p>
                    <br />

                    <form action="/mfa/new_codes" method="post">
                        <input type="hidden" name="_csrf" value="${csrf}" />

                        <div class="field is-hidden-mobile">
                            <p class="control">
                                <input type="submit" value="Confirm" class="button is-primary submit-button" style="width: 50%; margin: auto; display: block">
                            </p>
                        </div>
                        <div class="field is-hidden-tablet is-hidden-desktop">
                            <p class="control">
                                <input class="button is-primary is-fullwidth submit-button" value="Confirm" type="submit">
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>