<%inherit file="../base.html"/>

## SEO Stuff
<%block name="title">Ultros | </%block>
<%block name="description"></%block>

<%block name="og_title"></%block>
<%block name="og_description"></%block>

<section class="section">
    <div class="container">
        <article class="message is-primary" style="margin-left: 15%; margin-right: 15%;">
            <div class="message-header">
                <p>Set up Google Authenticator</p>
            </div>
            <div class="message-body">
                <p># TODO</p>
            </div>
        </article>
    </div>
</section>