.container {
    width: 40em;
    margin: auto;
}

.center {
    text-align: center;
}

img {
    margin: auto;
    height: 15em;
    max-width: 40em;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

figcaption {
    text-align: center;
    font-style: italic;
}