<%inherit file="base.html"/>

## Current tab for navigation
<%!
    tab = "about"
%>

## SEO Stuff
<%block name="title">Ultros | About</%block>
<%block name="description">Who we are, and how you get in contact</%block>

<%block name="og_title">About</%block>
<%block name="og_description">Who we are, and how you get in contact</%block>

<section class="hero">
    <div class="hero-body">
        <h1 class="title has-text-centered">
            About the project
        </h1>
        <div class="container is-centered has-text-centered">
            <p>
                Ultros has existed in one form or another since 2011, beginning its life as
                a humble IRC bot with a simple structure. Over time, our needs for it evolved,
                and it quickly outgrew the basic hook-based approach we had taken with it. As
                the project progressed, we realised that Twisted would allow us to easily add
                support for multiple types of network, and so the concept for our project
                was born.
            </p>
            <br/>
            <p>
                Many hours of work has passed since then, to produce something we can be
                proud of, and that we find useful ourselves. We are not only developers &mdash;
                we are users of this project as well, and we believe that helps us to
                better provide support for the project and figure out where it should go
                next.
            </p>
        </div>
    </div>
</section>

<section class="hero is-dark" id="contact">
    <div class="hero-body">
        <h1 class="title has-text-centered">
            Getting in contact
        </h1>
        <p class="has-text-centered">
            If you'd like to chat with us directly, we are present here:
        </p>
        <br/>
        <div class="tabs is-toggle is-fullwidth is-hidden-mobile" style="margin-left: 20%; margin-right: 20%;">
            <ul>
                <li style="width: 10rem">
                    <a href="http://webchat.esper.net/?nick=&channels=Ultros">
                        <span>
                            #Ultros @ irc.esper.net
                        </span>
                    </a>
                </li>
                <li style="width: 10rem; padding-left: 1rem;">
                    <a href="https://discord.gg/XXvhnuY">
                        <span>Ultros on Discord</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tabs is-toggle is-fullwidth is-hidden-desktop is-hidden-tablet">
            <ul>
                <li style="width: 5rem">
                    <a href="http://webchat.esper.net/?nick=&channels=Ultros">
                        <span>
                            #Ultros @ irc.esper.net
                        </span>
                    </a>
                </li>
                <li style="width: 5rem; padding-left: 1rem;">
                    <a href="https://discord.gg/XXvhnuY">
                        <span>Ultros on Discord</span>
                    </a>
                </li>
            </ul>
        </div>

        <p class="has-text-centered">
            To report issues or contribute directly, please see the following:
        </p>
        <br/>
        <div class="tabs is-toggle is-fullwidth is-hidden-mobile" style="margin-left: 20%; margin-right: 20%;">
            <ul>
                <li style="width: 10rem">
                    <a href="">
                        <span class="icon"><i class="fa fa-github"></i></span>
                        <span>Ultros3K</span>
                    </a>
                </li>
                <li style="width: 10rem; padding-left: 1rem;">
                    <a href="">
                        <span class="icon"><i class="fa fa-github"></i></span>
                        <span>This website</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="tabs is-toggle is-fullwidth is-hidden-desktop is-hidden-tablet">
            <ul>
                <li style="width: 5rem">
                    <a href="">
                        <span class="icon"><i class="fa fa-github"></i></span>
                        <span>Ultros3K</span>
                    </a>
                </li>
                <li style="width: 5rem; padding-left: 1rem;">
                    <a href="">
                        <span class="icon"><i class="fa fa-github"></i></span>
                        <span>This website</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="hero">
    <div class="hero-body">
        <h1 class="title has-text-centered">
            Fanart
        </h1>
        <div class="container is-centered has-text-centered">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-parent">
                    <div class="tile is-child box">
                        <figure class="image is-4by3">
                            <a href="/static/images/fanart/emilia_1.jpg">
                                <img class="is-fanart box" src="/static/images/fanart/emilia_1.jpg">
                            </a>
                        </figure>
                        <strong>Ultros Invades</strong> by <a href="http://otakuzilla.deviantart.com/">Emilia</a>
                    </div>
                    <div class="tile is-child box">
                        <figure class="image is-4by3">
                            <a href="/static/images/fanart/emilia_2.jpg">
                                <img class="is-fanart box" src="/static/images/fanart/emilia_2.jpg">
                            </a>
                        </figure>
                        <strong>Kawaii!</strong> by <a href="http://otakuzilla.deviantart.com/">Emilia</a>
                    </div>
                </div>
                <div class="tile is-vertical is-parent">
                    <div class="tile is-child box">
                        <figure class="image is-2by1">
                            <a href="/static/images/fanart/pyropyro_1.jpg">
                                <img class="is-fanart box" src="/static/images/fanart/pyropyro_1.jpg">
                            </a>
                        </figure>
                        <strong>Shit's tight, yo</strong> by <strong>PyroPyro</strong>
                    </div>
                    <div class="tile is-child box">
                        <figure class="image is-2by1">
                            <a href="/static/images/fanart/pyropyro_2.jpg">
                                <img class="is-fanart box" src="/static/images/fanart/pyropyro_2.jpg">
                            </a>
                        </figure>
                        <strong>Deep in the Sea of Autism</strong> by <strong>PyroPyro</strong>
                    </div>
                </div>
                <div class="tile is-vertical is-parent">
                    <div class="tile is-child box">
                        <figure class="image is-2by1">
                            <a href="/static/images/fanart/rakiru_1.png">
                                <img class="is-fanart box" src="/static/images/fanart/rakiru_1.png">
                            </a>
                        </figure>
                        <strong>Ultros Hugging Ultros</strong> by <a href="https://github.com/rakiru">rakiru</a>
                    </div>
                    <div class="tile is-child box">
                        <figure class="image is-3by2">
                            <a href="/static/images/fanart/julu8_1.png">
                                <img class="is-fanart box" src="/static/images/fanart/julu8_1.png">
                            </a>
                        </figure>
                        <strong>Nameless</strong> by <a href="http://julu8.deviantart.com/">Julu8</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-dark">
    <div class="hero-body">
        <h1 class="title has-text-centered">
            About the developers
        </h1>

        <div class="columns">
            <div class="column is-one-third-desktop is-half-tablet is-offset-2-desktop">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="/static/images/g-identicon.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4" style="color: black;">Gareth Coles</p>
                                <p class="subtitle is-6" style="color: black;">gdude2002</p>
                            </div>
                        </div>

                        <div class="content mobile">
                            Gareth is an English programmer living in Ireland. He prefers to
                            write everything in Python and has many years of experience
                            writing bots in this language, as well as Linux systems
                            administration.
                        </div>
                    </div>
                    <footer class="card-footer has-text-primary">
                        <a href="https://github.com/gdude2002" class="card-footer-item">
                            GitHub
                        </a>
                        <a href="http://ie.linkedin.com/pub/gareth-coles/82/13b/81a/" class="card-footer-item">
                            LinkedIn
                        </a>
                    </footer>
                </div>
            </div>
            <div class="column is-one-third-desktop is-half-tablet">
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image is-64x64">
                                    <img src="/static/images/r-identicon.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <p class="title is-4" style="color: black;">Sean Gordon</p>
                                <p class="subtitle is-6" style="color: black;">rakiru</p>
                            </div>
                        </div>

                        <div class="content">
                            Sean is a Scottish programmer with an interest in game development,
                            application and system security, and AI. He works mostly with
                            Python, but he also uses Java and occasionally C#.
                        </div>
                    </div>
                    <footer class="card-footer has-text-primary">
                        <a href="https://github.com/rakiru" class="card-footer-item">
                            GitHub
                        </a>
                        <a href="http://uk.linkedin.com/in/seanjmgordon" class="card-footer-item">
                            LinkedIn
                        </a>
                        <a href="http://www.rakiru.com/" class="card-footer-item">
                            Website
                        </a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>
