<%page args="title='Ultros'"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <title><%block name="title"/></title>
    <meta charset="UTF-8" />

    <!-- some meta tags, important for SEO-->
    <meta name="description" content="<%block name="description" />" />
    <meta name="keywords" content="<%block name="keywords" />" />
    <meta name="revisit-after" content="7 days" />
    <meta name="robots" content="index,follow" />

    <meta name="google-site-verification" content="eDl1dh8UxU5FuKyiMJ1YJ0HR2mf6Xdx9xtRzMcIaBk0" />

    <link rel="shortcut icon" href="/static/images/ultros.png" />
    <link rel="apple-touch-icon-precomposed" href="/static/images/ultros.png" />

    <link rel="stylesheet" href="/static/css/bulma.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">

    <%block name="header"/>

</head>
<body>
${self.body()}


## Footer

<div class="wrapper">
    <div id="footer">
        <div class="grids">
            <div class="grid-16 grid text-center">
                <p>&copy; 2014-2017 Gareth and Sean</p>
            </div>
            <div class="grid-16 grid text-center">
                <p>This site uses <a href="http://bulma.io/">Bulma</a> by Jeremy Thomas and <a href="http://fontawesome.io">Font Awesome</a> by Dave Gandy.</p>
            </div>
            <div class="grid-16 grid text-center">
                <p>By continuing to use this site, you are agreeing to our <a href="/tos">terms of service</a> - so you should probably read them!</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
