<%inherit file="base.html"/>

## SEO Stuff
<%block name="title">Ultros | Exceptions | ${uuid}</%block>
<%block name="description">Ultros is a highly modular, chat-focused, Python-based bot. Its purpose is to provide various services and tools to people using chat networks, in a highly extensible and protocol-agnostic way.

Connecting communities, one squid at a time.</%block>
<%block name="keywords">python bot irc ircbot mumble mumblebot ultros squid octopus squidoctopus plugin plugins modular protocol extensible</%block>

## Header, navigation and social icons

<div class="wrapper">
    <a href="/" id="logo">
        <img src="/static/images/logos/rakiru-400-200.png" alt="The Ultros logo" />
        <h1 class="accessibility">Ultros - The only squid that connects communities</h1>
    </a>

    <div class="social">
        <a href="https://travis-ci.org/UltrosBot/Ultros" title="Continuous Integration"><img src="/static/images/justvector_icons/retweet.svg" width="20" height="20" alt="bamboo"></a>
        <a href="http://webchat.esper.net/?nick=&amp;channels=Ultros" title="IRC"><img src="/static/images/justvector_icons/google_talk.svg" width="20" height="20" alt="irc"></a>
        <a href="http://steamcommunity.com/id/UltrosBot" title="Steam"><img src="/static/images/justvector_icons/steam.svg" width="20" height="20" alt="steam"></a>
        % if online == "???":
            <span class="icon-font-size"> <span class="orange-text">Error</span> bots online</span>
        % elif online == 0:
            <span class="icon-font-size"> <span class="red-text">No</span> bots online</span>
        % elif online == 1:
            <span class="icon-font-size"> <span class="green-text">${online}</span> bot online</span>
        % else:
            <span class="icon-font-size"> <span class="green-text">${online}</span> bots online</span>
        % endif
    </div>

    <ul id="nav" class="main nav">
        <li><a href="/">Home</a></li>
        <li><a href="/metrics" class="active">Metrics</a></li>
        <li><a href="https://github.com/UltrosBot/">GitHub</a></li>
        <li><a href="https://github.com/UltrosBot">GitHub</a></li>
        <li><a href="http://docs.ultros.io">Docs (beta)</a></li>
    </ul>
    <ul class="nav second-nav">
        <li><span>Metrics: &nbsp;</span></li>
        <li><a href="/metrics">Main</a></li>
        <li><a href="/metrics/exceptions" class="active">Exceptions</a></li>
    </ul>
</div>

<div class="clear"></div>

## UUID form
<div class="wrapper">
    <div class="grids top">
        <div class="grid-16 grid">
            % if search:
                <div class="grid-16 grid">
                    <p class="message info">
                        Search string: ${search}
                    </p>
                </div>
            % endif
            <div class="grid grid-16">
                % if cur_page > 1:
                    <div class="left">
                        <a href="${cur_page - 1}"><-- Page ${cur_page - 1}</a>
                        <br /> &nbsp;
                    </div>
                % endif

                % if cur_page != max_page:
                    <div class="right">
                        <a href="${cur_page + 1}">Page ${cur_page + 1} --></a>
                        <br /> &nbsp;
                    </div>
                % endif
            </div>

            % if error is not None:
                <p class="message error">
                    ${error}
                </p>
            % else:
                % if not data.count() > 0:
                    <p class="message error">
                        No data found.
                    </p>
                % else:
                    <table>
                        <thead>
                        <tr>
                            <th class="date-column-exception">Date</th>
                            <th class="column-exception">Type</th>
##                            <th class="column-exception">Value</th>
                            <th class="text-column-exception">Information</th>
                        </tr>
                        </thead>
                        <tbody>
                            % for item in data:
                            <tr>
                                <td class="date-column-exception">${item["date"].strftime("%d %b '%y %H:%M:%S UTC")}</td>
                                % if "'" in item["type"]:
                                    % if len(item["type"].split("'")) == 3:
                                        <td class="column-exception">${item["type"].split("'")[1] | h}</td>
                                    % else:
                                        <td class="column-exception">${item["type"] | h}</td>
                                    % endif
                                % else:
                                    <td class="column-exception">${item["type"] | h}</td>
                                % endif
##                                <td class="column-exception">${item["value"] | h}</td>
                                <td class="text-column-exception full-outer">
                                    <table class="hidden-body full">
                                        <thead class="pointer">
                                            <tr>
                                                <th>
                                                    <span class="arrow-left arrow-down-left"></span>
                                                    Traceback
                                                    <span class="arrow arrow-down"></span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <pre>${item["traceback"] | h}</pre>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    % if "scope" in item:
                                        <table class="hidden-body full-last">
                                            <thead class="pointer">
                                                <tr>
                                                    <th colspan="2">
                                                        <span class="arrow-left arrow-down-left"></span>
                                                        Scope
                                                        <span class="arrow arrow-down"></span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            % for key, value in sorted(item["scope"].items()):
                                                <tr>
                                                    <td class="bottom-no-border">
                                                        ${key | h}
                                                    </td>
                                                    <td class="bottom-no-border right-no-border">
                                                        <pre>${value | h}</pre>
                                                    </td>
                                                </tr>
                                            % endfor
                                            </tbody>
                                        </table>
                                    % endif
                                </td>
                            </tr>
                            % endfor
                        </tbody>
                    </table>
                % endif
            % endif

            <div class="grid grid-16">
                % if cur_page > 1:
                    <div class="left">
                        <a href="${cur_page - 1}"><-- Page ${cur_page - 1}</a>
                    </div>
                % endif

                % if cur_page != max_page:
                    <div class="right">
                        <a href="${cur_page + 1}">Page ${cur_page + 1} --></a>
                    </div>
                % endif
            </div>
        </div>
    </div>
</div>



## JS

<script>
    $(".full thead").click(function() {
        $(this.parentNode).children("tbody").toggle(400, "linear");

        $(this).find(".arrow").toggleClass("arrow-down");
        $(this).find(".arrow").toggleClass("arrow-up");
        $(this).find(".arrow-left").toggleClass("arrow-down-left");
        $(this).find(".arrow-left").toggleClass("arrow-up-left");
    });

    $(".full-last thead").click(function() {
        $(this.parentNode).children("tbody").toggle(400, "linear");

        $(this).find(".arrow").toggleClass("arrow-down");
        $(this).find(".arrow").toggleClass("arrow-up");
        $(this).find(".arrow-left").toggleClass("arrow-down-left");
        $(this).find(".arrow-left").toggleClass("arrow-up-left");
    });
</script>