<%inherit file="base.html"/>

## SEO Stuff
<%block name="title">Ultros | Exceptions</%block>
<%block name="description">Ultros is a highly modular, chat-focused, Python-based bot. Its purpose is to provide various services and tools to people using chat networks, in a highly extensible and protocol-agnostic way.

Connecting communities, one squid at a time.</%block>
<%block name="keywords">python bot irc ircbot mumble mumblebot ultros squid octopus squidoctopus plugin plugins modular protocol extensible</%block>
