<%inherit file="base.html"/>

## SEO Stuff
<%block name="title">Ultros | Fanart</%block>
<%block name="description">Ultros is a highly modular, chat-focused, Python-based bot. Its purpose is to provide various services and tools to people using chat networks, in a highly extensible and protocol-agnostic way.

Connecting communities, one squid at a time.</%block>
<%block name="keywords">python bot irc ircbot mumble mumblebot ultros squid octopus squidoctopus plugin plugins modular protocol extensible</%block>

## Header, navigation and social icons

<div class="wrapper">
    <a href="/" id="logo">
        <img src="/static/images/logos/rakiru-400-200.png" alt="The Ultros logo" />
        <h1 class="accessibility">Ultros - The only squid that connects communities</h1>
    </a>

    <div class="social">
        <a href="http://bamboo.gserv.me/browse/ULTROS" title="Continuous Integration"><img src="/static/images/justvector_icons/retweet.svg" width="20" height="20" alt="bamboo"></a>
        <a href="http://webchat.esper.net/?nick=&amp;channels=Ultros" title="IRC"><img src="/static/images/justvector_icons/google_talk.svg" width="20" height="20" alt="irc"></a>
        <a href="http://steamcommunity.com/id/UltrosBot" title="Steam"><img src="/static/images/justvector_icons/steam.svg" width="20" height="20" alt="steam"></a>
        % if online == "???":
            <span class="icon-font-size"> <span class="orange-text">Error</span> bots online</span>
        % elif online == 0:
##            <span class="icon-font-size"> <span class="red-text">No</span> bots online</span>
        % elif online == 1:
            <span class="icon-font-size"> <span class="green-text">${online}</span> bot online</span>
        % else:
            <span class="icon-font-size"> <span class="green-text">${online}</span> bots online</span>
        % endif
    </div>

    <ul id="nav" class="main">
        <li><a href="/">Home</a></li>
        <li><a href="/metrics">Metrics</a></li>
        <li><a href="/fanart" class="active">Fanart</a></li>
        <li><a href="https://github.com/UltrosBot/">GitHub</a></li>
        <li><a href="http://docs.ultros.io">Docs (beta)</a></li>
    </ul>
</div>

<div class="clear"></div>

## Content

<div class="wrapper">
    <div class="grids top">
        <div class="grid-15 fanart">
            <h2>Fanart</h2>
            <p> Since the project has started, some (very kind and talented)
                people have submitted logos and other fanart to us. If you'd
                like to do the same, please <a href="irc://irc.esper.net/Ultros">join us on IRC</a> or
                <a href="https://github.com/UltrosBot/Ultros-site/issues/new">raise a ticket on the Ultros-Site repo</a>!
            </p>
            <p> Please note that the headers above each image are <strong>given names</strong>
                provided or approved by the artist.
            </p>
        </div>
    </div>

    <hr />

    <div class="grids fanart-grid">
        <div class="grid-15 fanart">
            <h2>Ultros Invades</h2>
            <figure>
                <figcaption> Drawn on my whiteboard, by
                    <a href="http://otakuzilla.deviantart.com">Emilia (AKA Cataku or Otakuzilla)</a>
                </figcaption>
                <img src="http://i.imgur.com/mEtw1dO.jpg" />
            </figure>
        </div>
        <div class="grid-15 fanart">
            <h2>Kawaii!</h2>
            <figure>
                <figcaption> Drawn on my whiteboard, by
                    <a href="http://otakuzilla.deviantart.com">Emilia (AKA Cataku or Otakuzilla)</a>
                </figcaption>
                <img src="https://i.imgur.com/iKePl83.jpg" />
            </figure>
        </div>
        <div class="grid-15 fanart">
            <h2>Ultros hugging Ultros</h2>
            <figure>
                <figcaption>An interpretation by <a href="https://github.com/rakiru">rakiru</a></figcaption>
                <img src="https://dl.dropboxusercontent.com/u/7298729/drawings/ultros.png" />
            </figure>
        </div>
        <div class="grid-15 fanart">
            <h2>Deep in the Sea of Autism</h2>
            <figure>
                <figcaption>A logo by PyroPyro (AKA Nihility)</figcaption>
                <img src="https://i.imgur.com/TrMyoJE.jpg" />
            </figure>
        </div>
        <div class="grid-15 fanart">
            <h2>Shit's tight, yo</h2>
            <figure>
                <figcaption>Another logo by PyroPyro (AKA Nihility)</figcaption>
                <img src="https://i.imgur.com/7SsHDd0.jpg" />
            </figure>
        </div>
        <div class="grid-15 fanart">
            <h2>Nameless</h2>
            <figure>
                <figcaption>A logo by Julu8</figcaption>
                <img src="https://i.imgur.com/nJPElAp.png" />
            </figure>
        </div>
    </div>
</div>
