<%include file="base/header.html" args="title=title"/>

    <h1>Under construction!</h1>
    <div>See the following links for more information.
        <ul>
            <li><a href="https://github.com/UltrosBot/Ultros">GitHub project</a></li>
            <li><a href="https://github.com/UltrosBot/Ultros/wiki">Documentation</a></li>
            <li><a href="http://webchat.esper.net/?nick=&channels=Ultross">Join us on IRC</a></li>
            <li><a href="http://bamboo.gserv.me">Bamboo</a></li>
        </ul>
    </div>

<%include file="base/footer.html"/>