<%inherit file="base.html"/>

## SEO Stuff
<%block name="title">Ultros | Metrics</%block>
<%block name="description">Ultros is a highly modular, chat-focused, Python-based bot. Its purpose is to provide various services and tools to people using chat networks, in a highly extensible and protocol-agnostic way.

Connecting communities, one squid at a time.</%block>
<%block name="keywords">python bot irc ircbot mumble mumblebot ultros squid octopus squidoctopus plugin plugins modular protocol extensible</%block>

## Header, navigation and social icons

<div class="wrapper">
    <a href="/" id="logo">
        <img src="/static/images/logos/rakiru-400-200.png" alt="The Ultros logo" />
        <h1 class="accessibility">Ultros - The only squid that connects communities</h1>
    </a>

    <div class="social">
        <a href="https://travis-ci.org/UltrosBot/Ultros" title="Continuous Integration"><img src="/static/images/justvector_icons/retweet.svg" width="20" height="20" alt="bamboo"></a>
        <a href="http://webchat.esper.net/?nick=&amp;channels=Ultros" title="IRC"><img src="/static/images/justvector_icons/google_talk.svg" width="20" height="20" alt="irc"></a>
        <a href="http://steamcommunity.com/id/UltrosBot" title="Steam"><img src="/static/images/justvector_icons/steam.svg" width="20" height="20" alt="steam"></a>
        % if online == "???":
            <span class="icon-font-size"> <span class="orange-text">Error</span> bots online</span>
        % elif online == 0:
            <span class="icon-font-size"> <span class="red-text">No</span> bots online</span>
        % elif online == 1:
            <span class="icon-font-size"> <span class="green-text">${online}</span> bot online</span>
        % else:
            <span class="icon-font-size"> <span class="green-text">${online}</span> bots online</span>
        % endif
    </div>

    <ul id="nav" class="main">
        <li><a href="/">Home</a></li>
        <li><a href="/metrics" class="active">Metrics</a></li>
        <li><a href="/fanart">Fanart</a></li>
        <li><a href="https://github.com/UltrosBot">GitHub</a></li>
        <li><a href="http://docs.ultros.io">Docs (beta)</a></li>
    </ul>
    <ul class="nav second-nav">
        <li><span>Metrics: &nbsp;</span></li>
        <li><a href="/metrics" class="active">Main</a></li>
        <li><a href="/metrics/exceptions">Exceptions</a></li>
    </ul>
</div>

<div class="clear"></div>

## Metrics!
<div class="wrapper">
    <div class="grids top">

        ## Introduction to metrics
        <div class="grid-16 grid">
            <h1>Metrics</h1>

            <p>
                We collect various anonymous metrics from running Ultros bots automatically, in the interests of curiosity and research, and for keeping track of popularity,
                interest and receptiveness to updates. The current metrics we collect are as follows:
            </p>
            <ul>
                <li>Ultros version and git revision</li>
                <li>Enabled protocol types (irc, mumble, etc)</li>
                <li>Enabled plugins</li>
                <li>Installed packages</li>
                <li>Most (but not all) exceptions</li>
                <li>System stats (CPU name, OS type, Python version, total RAM)</li>
            </ul>
            <p>
                Metrics are collected anonymously and are easy to opt-out of. Each instance of Ultros gets a UUID, which is not public, and is the only way to identify a
                bot on the system. No IP addresses are collected, however they may appear in the server logs.
            </p>
            <p>
                If you're running a bot and would like to disable metrics, simply open <strong>config/settings.yml</strong> and change <code>metrics: on</code> to
                <code>metrics: off</code>. Please don't remove <strong>data/metrics.yml</strong> - we need the UUID within to delete our metrics on plugin, package
                and protocol usage. Please also note that UUIDs with disabled metrics are still kept in the database (and counted below).
            </p>
            <p>
                If you're okay with normal metrics but would like to prevent exceptions from being sent, then you can open <strong>config/settings.yml</strong> and change
                <code>send-exceptions: yes</code> to <code>send-exceptions: no</code>. Please note that exceptions will never be sent if you disable metrics.
            </p>
            <p>
                If you really must do so, you can entirely remove your metrics by opening <strong>config/settings.yml</strong> and settings <code>metrics</code> to
                <code>destroy</code>. <strong>This will entirely remove your UUID from the database and delete it from your bot's storage!</strong>
                Please note that if you do this, you'll be assigned a new UUID should you ever decide to re-enable metrics.
            </p>
            <p>
                <strong>Note:</strong> If you disable metrics before your bot has been assigned a UUID, the bot will never contact the server and you won't need to
                destroy your metrics as detailed above.
            </p>
        </div>

        <hr style="clear: both;" />

        ## Charts

        <div class="grid-8 chart" id="release-pie"></div>
        <div class="grid-8 chart" id="version-pie"></div>

        <div class="grid-8 chart" id="cpu-pie"></div>
        <div class="grid-8 chart" id="os-pie"></div>
        <div class="grid-8 chart" id="python-pie"></div>
        <div class="grid-8 chart" id="ram-pie"></div>

        <hr style="clear: both;" />

        ## Activity

        <div class="grid-16">
            <table>
                <thead>
                    <tr>
                        <th class="text-column-small" style="text-align: left">Activity</th>
                        <th class="num-column green-text">Metrics enabled</th>
                        <th class="num-column red-text">Metrics disabled</th>
                        <th class="num-column blue-text">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-column-small">Online</td>
                        <td class="num-column green-text">${online_enabled}</td>
                        <td class="num-column red-text">N/A</td>
                        <td class="num-column blue-text">${online}</td>
                    </tr>
                    <tr>
                        <td class="text-column-small">Active</td>
                        <td class="num-column green-text">${recent_enabled}</td>
                        <td class="num-column red-text">N/A</td>
                        <td class="num-column blue-text">${recent}</td>
                    </tr>
                    <tr>
                        <td class="text-column-small">Totals</td>
                        <td class="num-column green-text">${total_enabled}</td>
                        <td class="num-column red-text">${total_disabled}</td>
                        <td class="num-column blue-text">${total}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        ## Protocols

        <div class="grid-8">
            % if not protocols:
                <table>
                    <thead>
                        <tr>
                            <th class="header-column" colspan="2">No protocols in use</th>
                        </tr>
                    </thead>
                </table>
            % else:
                <table>
                    <thead>
                        <tr>
                            <th class="header-column" colspan="2">Protocol usage</th>
                        </tr>
                    </thead>
                    <tbody>
                        % for key in sorted(protocols.keys(), key=lambda s: s.lower()):
                            % if protocols[key]:
                                <tr>
                                    <td class="text-column">${key| h}</td>
                                    <td class="num-column green-text">${protocols[key]}</td>
                                </tr>
                            % endif
                        % endfor
                    </tbody>
                </table>
            % endif

        ## Packages

            % if not packages:
                <table class="table-top-margin">
                    <thead>
                        <tr>
                            <th class="header-column" colspan="2">No packages installed</th>
                        </tr>
                    </thead>
                </table>
            % else:
                <table class="table-top-margin">
                    <thead>
                        <tr>
                            <th class="header-column" colspan="2">Packages installed</th>
                        </tr>
                    </thead>
                    <tbody>

                        % for key in sorted(packages.keys(), key=lambda s: s.lower()):
                            % if packages[key]:
                                <tr>
                                    <td class="text-column">${key| h}</td>
                                    <td class="num-column green-text">${packages[key]}</td>
                                </tr>
                            % endif
                        % endfor

                    </tbody>
                </table>
            % endif
        </div>

        ## Plugins

        % if not plugins:
            <div class="grid-8">
                <table>
                    <thead>
                        <tr>
                            <th class="header-column" colspan="2">No plugins enabled</th>
                        </tr>
                    </thead>
                </table>
            </div>
        % else:
            <div class="grid-8">
                <table>
                    <thead>
                        <tr>
                            <th class="header-column" colspan="2">Plugins enabled</th>
                        </tr>
                    </thead>
                    <tbody>
                        % for key in sorted(plugins.keys(), key=lambda s: s.lower()):
                            % if plugins[key]:
                                <tr>
                                    <td class="text-column">${key| h}</td>
                                    <td class="num-column green-text">${plugins[key]}</td>
                                </tr>
                            % endif
                        % endfor
                    </tbody>
                </table>
            </div>
        % endif
    </div>
</div>

## Highcharts scripts

<script>
    $(function () {
        $('#version-pie').highcharts({ // Version pie
            chart: {
                plotBackgroundColor: "#ffffff",
                backgroundColor: "#fafafa",
                plotBorderWidth: 1,//null,
                plotShadow: false,
                marginRight: 100,
                marginLeft: 100
            },
            title: {
                text: 'Versions'
            },
            tooltip: {
                headerFormat: '<span style="font-size: 10px">{series.name}</span><br/>',
                pointFormat: '{point.name}<br/><b>{point.percentage:.1f}% ({point.value})</b>'
            },
            plotOptions: {
                pie: {
                    size: "75%",
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        formatter: function() {
                            if (this.point.name.length > 10) {
                                return "<b>" + this.point.name.substr(0, 10) + "...</b>";
                            } else {
                                return "<b>" + this.point.name + "</b>";
                            }
                        },
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Version',
                data: ${hashes}
            }]
        });

        $('#release-pie').highcharts({ // Release pie
            chart: {
                plotBackgroundColor: "#ffffff",
                backgroundColor: "#fafafa",
                plotBorderWidth: 1,//null,
                plotShadow: false,
                marginRight: 100,
                marginLeft: 100
            },
            title: {
                text: 'Releases'
            },
            tooltip: {
                headerFormat: '<span style="font-size: 10px">{series.name}</span><br/>',
                pointFormat: '{point.name}: <b>{point.percentage:.1f}% ({point.value})</b>'
            },
            plotOptions: {
                pie: {
                    size: "75%",
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Release',
                data: ${releases}
            }]
        });

        $('#cpu-pie').highcharts({ // CPU pie
            chart: {
                plotBackgroundColor: "#ffffff",
                backgroundColor: "#fafafa",
                plotBorderWidth: 1,//null,
                plotShadow: false,
                marginRight: 100,
                marginLeft: 100
            },
            title: {
                text: 'CPU types'
            },
            tooltip: {
                headerFormat: '<span style="font-size: 10px">{series.name}</span><br/>',
                pointFormat: '{point.name}<br/><b>{point.percentage:.1f}% ({point.value})</b>'
            },
            plotOptions: {
                pie: {
                    size: "75%",
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        formatter: function() {
                            if (this.point.name.length > 10) {
                                return "<b>" + this.point.name.substr(0, 10) + "...</b>";
                            } else {
                                return "<b>" + this.point.name + "</b>";
                            }
                        },
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'CPU',
                data: ${cpu}
            }]
        });

        $('#os-pie').highcharts({ // OS pie
            chart: {
                plotBackgroundColor: "#ffffff",
                backgroundColor: "#fafafa",
                plotBorderWidth: 1,//null,
                plotShadow: false,
                marginRight: 100,
                marginLeft: 100
            },
            title: {
                text: 'OS used'
            },
            tooltip: {
                headerFormat: '<span style="font-size: 10px">{series.name}</span><br/>',
                pointFormat: '{point.name}: <b>{point.percentage:.1f}% ({point.value})</b>'
            },
            plotOptions: {
                pie: {
                    size: "75%",
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'OS',
                data: ${os}
            }]
        });

        $('#python-pie').highcharts({ // Python pie
            chart: {
                plotBackgroundColor: "#ffffff",
                backgroundColor: "#fafafa",
                plotBorderWidth: 1,//null,
                plotShadow: false,
                marginRight: 100,
                marginLeft: 100
            },
            title: {
                text: 'Python versions'
            },
            tooltip: {
                headerFormat: '<span style="font-size: 10px">{series.name}</span><br/>',
                pointFormat: '{point.name}: <b>{point.percentage:.1f}% ({point.value})</b>'
            },
            plotOptions: {
                pie: {
                    size: "75%",
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Python version',
                data: ${python}
            }]
        });

        $('#ram-pie').highcharts({ // RAM pie
            chart: {
                plotBackgroundColor: "#ffffff",
                backgroundColor: "#fafafa",
                plotBorderWidth: 1,
                plotShadow: false
            },
            title: {
                text: 'System memory'
            },
            tooltip: {
                headerFormat: '<span style="font-size: 10px">{series.name}</span><br/>',
                pointFormat: '{point.x}MB: <b>{point.y} bot/s</b>'
            },
            plotOptions: {
                column: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    pointWidth: 10
                }
            },
            series: [{
                type: 'column',
                name: 'Bots',
                data: ${ram}
            }],
            legend: {
                enabled: false
            },
            xAxis: {
                allowDecimals: false,
                title: {
                    enabled: true,
                    text: "Total RAM"
                }
            },
            yAxis: {
                allowDecimals: false,
                title: {
                    enabled: true,
                    text: "Bots"
                }
            }
        });
    });
</script>
