<%inherit file="base.html"/>

## SEO Stuff
<%block name="title">Ultros | Metrics</%block>
<%block name="description">Ultros is a highly modular, chat-focused, Python-based bot. Its purpose is to provide various services and tools to people using chat networks, in a highly extensible and protocol-agnostic way.

Connecting communities, one squid at a time.</%block>
<%block name="keywords">python bot irc ircbot mumble mumblebot ultros squid octopus squidoctopus plugin plugins modular protocol extensible</%block>

## Header, navigation and social icons

<div class="wrapper">
    <a href="/" id="logo">
        <img src="/static/images/logos/rakiru-400-200.png" alt="The Ultros logo" />
        <h1 class="accessibility">Ultros - The only squid that connects communities</h1>
    </a>

    <div class="social">
        <a href="https://travis-ci.org/UltrosBot/Ultros" title="Continuous Integration"><img src="/static/images/justvector_icons/retweet.svg" width="20" height="20" alt="bamboo"></a>
        <a href="http://webchat.esper.net/?nick=&channels=Ultros" title="IRC"><img src="/static/images/justvector_icons/google_talk.svg" width="20" height="20" alt="irc"></a>
        <a href="http://steamcommunity.com/id/UltrosBot" title="Steam"><img src="/static/images/justvector_icons/steam.svg" width="20" height="20" alt="steam"></a>
    </div>

    <ul id="nav" class="main">
        <li><a href="/">Home</a></li>
        <li><a href="/metrics" class="active">Metrics</a></li>
        <li><a href="https://github.com/UltrosBot/">GitHub</a></li>
        <li><a href="https://github.com/UltrosBot/Ultros-Contrib">Extensions</a></li>
        <li><a href="http://docs.ultros.io">Docs (beta)</a></li>
    </ul>
</div>

<div class="clear"></div>

## Metrics!
<div class="wrapper">
    <div class="grids top">

        ## Introduction to metrics
        <div class="grid-16 grid">
            <h1>Metrics</h1>

            <p>
                We collect various anonymous metrics from running Ultros bots automatically, in the interests of curiosity and research, and for keeping track of popularity,
                interest and receptiveness to updates.
            </p>
            <p>
                Metrics are collected anonymously and are easy to opt-out of. Each instance of Ultros gets a UUID, which is not public, and is the only way to identify a
                bot on the system. No IP addresses are collected, however they may appear in the server logs.
            </p>
            <p>
                If you're running a bot and would like to disable metrics, simply open <strong>config/settings.yml</strong> and change <code>metrics: on</code> to
                <code>metrics: off</code>. Please don't remove <strong>data/metrics.yml</strong> - we need the UUID within to delete our metrics on plugin, package
                and protocol usage. Please also note that UUIDs with disabled metrics are still kept in the database (and counted below).
            </p>
            <p>
                If you really must do so, you can entirely remove your metrics by opening <strong>config/settings.yml</strong> and settings <code>metrics</code> to
                <code>destroy</code>. <strong>This will entirely remove your UUID from the database and delete it from your bot's storage!</strong>
                Please note that if you do this, you'll be assigned a new UUID should you ever decide to re-enable metrics.
            </p>
            <p>
                <strong>Note:</strong> If you disable metrics before your bot has been assigned a UUID, the bot will never contact the server and you won't need to
                destroy your metrics as detailed above.
            </p>
        </div>

        ## Metrics
        <div class="grid-16 grid">
            <p>
                <table>
                    <thead>
                        <tr>
                            <th colspan="3">Colour key</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="1">
                                <span class="red-text">
                                    Metrics disabled
                                </span>
                            </td>
                            <td colspan="1">
                                <span class="green-text">
                                    Metrics enabled
                                </span>
                            </td>
                            <td colspan="1">
                                <span class="blue-text">
                                    Totals
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </p>

            <p>
                <table>
                    <thead>
                        <tr>
                            <th colspan="4">Bot activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Online</th>
                            <td>
                                <span class="green-text">
                                    ${online_enabled}
                                </span>
                            </td>
                            <td>
                                <span class="blue-text">
                                    ${online}
                                </span>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <th>Active</th>
                            <td>
                                <span class="green-text">
                                    ${recent_enabled}
                                </span>
                            </td>
                            <td>
                                <span class="blue-text">
                                    ${recent}
                                </span>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td>
                                <span class="green-text">
                                    ${total_enabled}
                                </span>
                            </td>
                            <td>
                                <span class="blue-text">
                                    ${total}
                                </span>
                            </td>
                            <td>
                                <span class="red-text">
                                    ${total_disabled}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </p>
        </div>
    </div>
</div>

## Footer

<div class="wrapper">
    <div id="footer">
        <div class="grids">
            <div class="grid-16 grid text-center">
                <p>&copy; 2014 Gareth and Sean, based on the template by <a href="http://sg-layout.com" title="SG-Layout Webdesign">SiGa</a> with additional design work from <a href="https://github.com/chall8908">Chris Hall</a></p>
            </div>
        </div>
    </div>
</div>
