<%inherit file="base.html"/>

## SEO Stuff
<%block name="title">Ultros | Terms of Service</%block>
<%block name="description">Ultros is a highly modular, chat-focused, Python-based bot. Its purpose is to provide various services and tools to people using chat networks, in a highly extensible and protocol-agnostic way.

Connecting communities, one squid at a time.</%block>
<%block name="keywords">python bot irc ircbot mumble mumblebot ultros squid octopus squidoctopus plugin plugins modular protocol extensible</%block>

## Header, navigation and social icons

<div class="wrapper" id="top">
    <a href="/" id="logo">
        <img src="/static/images/logos/rakiru-400-200.png" alt="The Ultros logo" />
        <h1 class="accessibility">Ultros - The only squid that connects communities</h1>
    </a>

    <div class="social">
        <a href="http://bamboo.gserv.me/browse/ULTROS" title="Continuous Integration"><img src="/static/images/justvector_icons/retweet.svg" width="20" height="20" alt="bamboo"></a>
        <a href="http://webchat.esper.net/?nick=&amp;channels=Ultros" title="IRC"><img src="/static/images/justvector_icons/google_talk.svg" width="20" height="20" alt="irc"></a>
        <a href="http://steamcommunity.com/id/UltrosBot" title="Steam"><img src="/static/images/justvector_icons/steam.svg" width="20" height="20" alt="steam"></a>
        % if online == "???":
            <span class="icon-font-size"> <span class="orange-text">Error</span> bots online</span>
        % elif online == 0:
##            <span class="icon-font-size"> <span class="red-text">No</span> bots online</span>
        % elif online == 1:
            <span class="icon-font-size"> <span class="green-text">${online}</span> bot online</span>
        % else:
            <span class="icon-font-size"> <span class="green-text">${online}</span> bots online</span>
        % endif
    </div>

    <ul id="nav" class="main">
        <li><a href="/">Home</a></li>
        <li><a href="/metrics">Metrics</a></li>
        <li><a href="/fanart">Fanart</a></li>
        <li><a href="https://github.com/UltrosBot">GitHub</a></li>
        <li><a href="http://docs.ultros.io">Docs (beta)</a></li>
    </ul>
</div>

<div class="clear"></div>

## Main header
<div class="wrapper">
    <div class="grids top">
        <div class="grid-16 grid">
            <h1>Terms and data collection</h1>
            ## TODO: Update this every time the page is edited
            <h5><strong>Last updated</strong> - <em>October the 12th, 2014</em></h5>
        </div>
    </div>
</div>

<hr />

<ul class="nav inline-nav">
    <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeInCubic&quot; }" href="#what">About</a></li>
    <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeInCubic&quot; }"  href="#collection">Data collection</a></li>
    <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeInCubic&quot; }"  href="#opting-out">Opting out</a></li>
    <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeInCubic&quot; }"  href="#data-usage">Data usage</a></li>
    <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeInCubic&quot; }"  href="#other-terms">Other terms</a></li>
    <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeInCubic&quot; }"  href="#irc-rules">IRC rules</a></li>
</ul>

<hr />

## Introduction to this section
<div class="wrapper">
    <div class="grids top">
        <div class="grid-16 grid">
            <ul class="nav second-nav">
                <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeInCubic&quot; }" href="#top">Top</a></li>
            </ul>

            <h2 id="what">What's this all about?</h2>

            <p> The people behind this site are consumers - just like you. We also
                hate corporate-speak and overly-complicated terms with hidden
                motivations, just like you.
            </p>
            <p> As a result, we've decided to put together a simple terms of service
                and information on all the data we collect on you and how it's
                used, as well as ways you can opt-out of each of these things.
            </p>
            <p> The only thing we ask of you is to check back here every so often. As
                we don't harvest email addresses or other forms of contact, we're unable
                to notify you of changes to this page. While we reserve the right to edit
                our terms at any time, you may check back here whenever you like and the
                date we last updated this page will be displayed above.
            </p>
            <p> Remember, by using this site, you are agreeing to our terms. If you
                don't agree with them, then we must unfortunately request that you do
                not use our services.
            </p>
        </div>
    </div>
</div>

<hr />

## How we collect data and how to opt-out
<div class="wrapper">
    <div class="grids top">
        <div class="grid-16 grid">
            <ul class="nav second-nav">
                <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeInCubic&quot; }" href="#top">Top</a></li>
            </ul>

            <h2 id="collection">Data collection</h2>

            <h3 id="collection-methods">How data is collected</h3>

            <ul>
                <li>
                    Google Analytics, including..

                    <ul>
                        <li>Pages visited on our site</li>
                        <li>Links taken to get to our site</li>
                        <li>Browser and OS information</li>
                        <li>Duration of your visit</li>
                    </ul>
                </li>
                <li>
                    Ultros bot-specific metrics collection, including..

                    <ul>
                        <li>Enabled plugins and protocol types</li>
                        <li>Installed packages</li>
                        <li>System info, such as total RAM, CPU, OS and Python version</li>
                        <li>Exceptions and errors that occur in the code</li>
                    </ul>
                </li>
                <li>
                    Webserver logs, including..

                    <ul>
                        <li>IP addresses and pages visited</li>
                        <li>Browser information</li>
                        <li>Site errors</li>
                    </ul>
                </li>
            </ul>

            <ul class="nav second-nav">
                <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeInCubic&quot; }" href="#top">Top</a></li>
            </ul>

            <h3  id="opting-out">How to opt-out</h3>

            <ul>
                <li>
                    Google Analytics:
                    <ul>
                        <li>
                            The Google Analytics opt-out
                            <a href="https://tools.google.com/dlpage/gaoptout">browser extension</a>
                        </li>
                        <li>
                            <a href="http://labnol.blogspot.ca/2005/11/prevent-google-analytics-from-tracking.html">
                            Editing your HOSTS file
                            </a>
                        </li>
                        <li>
                            <a href="http://www.cnet.com/how-to/how-to-prevent-google-from-tracking-you/">
                                This CNET article
                            </a>
                            on preventing Google tracking
                        </li>
                    </ul>
                </li>
                <li>
                    Ultros bot-specific metrics collection:
                    <ul>
                        <li>
                            Disabling your metrics - edit your settings.yml file and set <code>metrics</code>
                            to <code>off</code>. <strong>This will not remove your data from our servers</strong>,
                            but it will prevent any more data from being sent.
                        </li>
                        <li>
                            Destroying your metrics - edit your settings.yml file and set <code>metrics</code>
                            to <code>destroy</code>. <strong>This will remove all of your bot-specific metrics from
                            our servers</strong>, and it will prevent any more data from being sent.
                        </li>
                    </ul>
                </li>
                <li>
                    Webserver logs:
                    <ul>
                        <li>
                            Unfortunately, we need these logs for troubleshooting reasons.
                            They may be removed from time to time as they get too large, though.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr />

## What happens to the data
<div class="wrapper">
    <div class="grids top">
        <div class="grid-16 grid">
            <ul class="nav second-nav">
                <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeInCubic&quot; }" href="#top">Top</a></li>
            </ul>

            <h2 id="data-usage">Data usage policy</h2>

            <p> All data collected is strictly for our own use, however, we
                understand (and regret) that Google will use analytics data for
                their own purposes as well. Unfortunately, we aren't able to use
                server-side analytics as we lack the hardware to do so.
            </p>
            <p> If you'd like to disable Google Analytics tracking, please see
                the section above.
            </p>
            <p>Things that the data is used for:</p>

            <ul>
                <li>Gauging interest in updates, packages and site reception.</li>
                <li>Tracking the popularity of our project.</li>
                <li>
                    <a href="/metrics">Public metrics display</a> of bot version,
                    system and usage information.
                </li>
                <li>Popularity comparison to competing projects</li>
            </ul>

            <p>Things that the data is <strong>NOT</strong> used for:</p>

            <ul>
                <li>Sale to third-parties. We will never do this.</li>
                <li>Advertising. We will never do this, either.</li>
                <li>Espionage. We're not the NSA.</li>
            </ul>

            <p> Questions? Please join us on IRC by clicking on the speech
                bubble icon at the very top-right of the page.
            </p>
        </div>
    </div>
</div>

<hr />

## Other terms
<div class="wrapper">
    <div class="grids top">
        <div class="grid-16 grid">
            <ul class="nav second-nav">
                <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeInCubic&quot; }" href="#top">Top</a></li>
            </ul>

            <h2 id="other-terms">Other terms</h2>

            <p>Please bear the following in mind when using our services:</p>

            <ul>
                <li>
                    We reserve the right to deny anyone access to our services at any time,
                    for any reason - but we're only likely to do this if you launch
                    some kind of attack on our site or IRC channel.
                </li>
                <li>
                    We reserve the right to deny any contributions or fanart that we feel
                    doesn't match our (fairly open) view of decency or suitability. This
                    also applies to anything that would be considered illegal, in relation
                    to international and local law.
                </li>
                <li>
                    It goes without saying, but if you're contributing code, don't bother
                    committing anything malicious. Additionally, you should review
                    <a href="https://help.github.com/articles/github-terms-of-service/">
                        GitHub's terms of service
                    </a> if you intend on contributing.
                </li>
                <li>
                    We reserve the right to deny metrics access to bots that are running
                    custom plugins or protocols that are designed to enable piracy,
                    network attacks, or other forms of international law-breaking.
                </li>
                <li>
                    If you distribute a copy of any of our software, you must abide by
                    the license terms set out in the Artistic License 2.0. You may find
                    a copy of it <a href="http://choosealicense.com/licenses/artistic-2.0/">
                        here
                    </a> or in each of our repositories on GitHub.

                    <ul>
                        <li>
                            This license also applies to all core contributions. If we feel the
                            need to change our license at any time, we will contact all
                            contributors and attempt to obtain their permission. If they
                            do not respond within 30 days, then we will have to assume that
                            they are okay with us changing the license.
                        </li>
                        <li>
                            This does not apply to packages contributed to the Ultros-contrib
                            repository, as they may be licensed under any open-source license
                            that the contributor feels is appropriate.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


<hr />

## Behavior on IRC
<div class="wrapper">
    <div class="grids top">
        <div class="grid-16 grid">
            <ul class="nav second-nav">
                <li><a data-scroll data-options="{ &quot;easing&quot;: &quot;easeInCubic&quot; }" href="#top">Top</a></li>
            </ul>

            <h2 id="irc-rules">Behavior on IRC</h2>

            <p> In addition to the above, the following rules should be obeyed on our IRC channels.
                Remember, these are guidelines, not concrete laws, and we reserve the right to
                punish users that break the rules in ways that are open to interpretation.
            </p>

            <ul>
                <li>Follow the
                    <a href="https://www.esper.net/charter.php">EsperNet network charter</a>
                </li>
                <li>
                    Do not spam. This includes (but is not limited to) the following..

                    <ul>
                        <li>Advertising of any kind.</li>
                        <li>
                            Derailing discussions about Ultros, or Ultros support.

                            <ul>
                                <li>
                                    This includes discussions and posting links that aren't
                                    related to Ultros, while discussions that <strong>are</strong>
                                    related to Ultros are in progress.
                                </li>
                                <li>
                                    General chat is fine in all other cases, however.
                                </li>
                            </ul>
                        </li>
                        <li>Joining your own bots to the channel. We already have one!</li>
                        <li>Illegal discussions - for example, discussing where to pirate software.</li>
                        <li>Conversations and arguments of an intimate nature. Get a room, please!</li>
                    </ul>
                </li>
                <li> No personal attacks or discrimination, or channel attacks.
                     Leave your spambots, racism and bigotry at the door, please.
                </li>
                <li>
                    Bring your common sense with you into the channel, and
                    <a href="http://en.wikipedia.org/wiki/Wikipedia:Don%27t_be_a_dick">
                        don't be a dick
                    </a> - or else!
                </li>
            </ul>
        </div>
    </div>
</div>
