<%inherit file="base.html"/>

<section class="section" style="padding-bottom: 0;">
    <div class="container">
        <article class="message is-info" style="margin-left: 20%; margin-right: 20%;">
            <div class="message-header">
                <p>Backup codes</p>
            </div>
            <div class="message-body">
                <p>You have just set up multi-factor authentication. Please keep a record of these backup codes,
                    as you will need them if you lose the device you used to set up MFA.
                </p>
            </div>
        </article>

        <%text>
        <pre class="pre box" style="margin-left: 5%; margin-right: 5%;">
            % for code in codes:
${code}
            % endfor
        </pre>
        </%text>
    </div>
</section>