<%page />

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        <%include file="/bulma.css" />
        <%include file="/custom.css" />

        .message {
            margin: 0 !important;
        }
    </style>
</head>
<body>
<section class="hero is-primary">
    <div class="hero-head">
        <div class="container">
            <nav class="nav">
                <div class="nav-center" style="min-width: 150px;">
                    <span class="nav-item">
                        Ultros - Insert Logo Here
                    </span>
                </div>
            </nav>
        </div>
    </div>
</section>

${self.body()}

<br />
<br />

## Footer

<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                &copy; 2014-2017 Gareth Coles and Sean Gordon <br/>
                <a href="/tos">Terms of service</a>
            </p>
        </div>
    </div>
</footer>
</body>
</html>
