<%inherit file="base.html"/>

<section class="section" style="padding-bottom: 0;">
    <div class="container">
        <article class="message is-info" style="margin-left: 20%; margin-right: 20%;">
            <div class="message-header">
                <p>MFA Disabled</p>
            </div>
            <div class="message-body">
                <p> This is just a notice to let you know that MFA has been disabled
                    on your account. If you did not do this, ensure that your account
                    is secure immediately and contact us if you run into any trouble.
                </p>
            </div>
        </article>
    </div>
</section>